{% extends "base.html" %}

{% block title %}
    <title>Клініки - {{ clinic.clinic }}</title>
{% endblock %}

{% block content %}

<div class="media">
  <div class="media-body">
    <h2 class="media-heading">{{ clinic.clinic }}</h2>
    <p>{{ clinic.locality }}, {{ clinic.locality.district }} район, {{ clinic.locality.district.region }} область</p>
    <p>{{ clinic.info }}</p>
  </div>
  <div class="media-right">
    {% if clinic.logo %}
    <img src="{{ clinic.logo.url }}" class="media-object" style="height:150px">
    {% endif %}
  </div>
</div>

<p></p>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Вакцина</th>
        <th>Серія</th>
        <th>Кількість доз</th>
    </tr>
    </thead>
    <tbody>
    {% for vaccine in vaccines %}
    <tr>
        <td><a href="{{ vaccine.series.vaccine.get_info_url }}">{{ vaccine.series.vaccine }}</a></td>
        <td>{{ vaccine.series }}</td>
        <td>{{ vaccine.doses }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>





{% endblock %}


