{% extends "base.html" %}

{% block title %}
    <title>Реєстр іммунізації - головна</title>
{% endblock %}

{% block content %}

    <h1>Клініки</h1>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Клініка</th>
        <th>Населений пункт</th>
    </tr>
    </thead>
    <tbody>
    {% for clinic in clinics %}
    <tr>
        <td><a href="{{ clinic.get_info_url }}">{{ clinic.clinic}}</a></td>
        <td>{{ clinic.locality }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}


