{% extends "base.html" %}

{% block title %}
    <title>Для пацієнтів - вакцини</title>
{% endblock %}

{% block content %}

    <h1>Вакцини</h1>
<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Фільтрувати">
</form>

<p></p>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Вакцина</th>
        <th>Виробник</th>
        <th>Країна походження</th>
    </tr>
    </thead>
    <tbody>
    {% for vaccine in vaccines %}
    <tr>
        <td><a href="{{ vaccine.get_info_url }}">{{ vaccine.vaccine }}</a></td>
        <td>{{ vaccine.manufacturer }}</td>
        <td>{{ vaccine.country }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}


