{% extends "base.html" %}

{% block title %}
    <title>Вакцина - {{ vaccine.vaccine }}</title>
{% endblock %}

{% block content %}

    <h2>{{ vaccine.vaccine }}</h2>

<table class="table">
    <tr>
        <th>Виробник</th>
        <td>{{ vaccine.manufacturer }}</td>
    </tr>
    <tr>
        <th>Країна походження</th>
        <td>{{ vaccine.country }}</td>
    </tr>
    <tr>
        <th>Профілактика хвороб</th>
        <td><ul>{% for disease in vaccine.disease.all %}<li>{{ disease }}</li>{% endfor %}</ul></td>
    </tr>
    <tr>
        <th>Інформація</th>
        <td>{{ vaccine.info }}</td>
    </tr>
</table>

{% endblock %}

