{% extends "base.html" %}

{% block title %}
    <title>Для лікарів - {{ clinic.clinic }}</title>
{% endblock %}

{% block content %}

<div class="media">
  <div class="media-body">
    <h2 class="media-heading">{{ clinic.clinic }}</h2>
    <p><i>{{ clinic.locality }}, {{ clinic.locality.district }} район, {{ clinic.locality.district.region }} область</i></p>
    <p>{{ clinic.info }}</p>
  </div>
  <div class="media-right">
    {% if clinic.logo %}
        <img src="{{ clinic.logo.url }}" class="media-object" style="height:150px">
    {% endif %}
  </div>
</div>

<br>

<a href="{% url 'clinic_update' id=clinic.pk %}">Редагувати</a>
<a href="{% url 'clinic_delete' id=clinic.pk %}">Видалити</a>
<a href="{% url 'doctor_add' %}">Додати лікаря</a>

<br>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Лікар</th>
        <th>Статистика</th>
    </tr>
    </thead>
    <tbody>
    {% for doctor in doctors %}
    <tr>
        <td><a href="{{ doctor.get_registry_url }}">{{ doctor.lastname }} {{ doctor.firstname }} {{ doctor.patronymic }}</a></td>
        <td></td>
    </tr>
    {% endfor %}
    </tbody>
</table>





{% endblock %}
