{% extends "base.html" %}

{% block title %}
    <title>Для лікарів - лікарі</title>
{% endblock %}

{% block content %}

    <h1>Лікарі</h1>

<p></p>

<a href="{% url 'doctor_add' %}"><button class="btn btn-default btn-bg " name="clinic_add">Додати лікаря</button></a>

<p></p>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Лікар</th>
        <th>Клініка</th>
    </tr>
    </thead>
    <tbody>
    {% for doctor in doctors %}
    <tr>
        <td><a href="{{ doctor.get_registry_url }}">{{ doctor.lastname }} {{ doctor.firstname }} {{ doctor.patronymic }}</a></td>
        <td><a href="{{ doctor.clinic.get_registry_url }}">{{ doctor.clinic }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<br>

<ul class="pagination">
    {% for num in num_pages %}
        {% if num == current_page %}
            <li class="page-item active"><span class="page-link">{{num}}</span></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="{% url 'doctors' %}?page={{num}}">{{num}}</a></li>
        {% endif %}
    {% endfor %}
</ul>
{% endblock %}
