{% extends "base.html" %}

{% block title %}
    <title>Для лікарів - {{ doctor.lastname }}</title>
{% endblock %}

{% block content %}
<div class="media">
  <div class="media-body">
    <h2 class="media-heading">{{ doctor.lastname }} {{ doctor.firstname }} {{ doctor.patronymic }}</h2>
    <p><a href="{{ doctor.clinic.get_registry_url }}">{{ doctor.clinic }}</a></p>
  </div>
</div>

<p></p>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Пацієнт</th>
        <th>Вакцина</th>
        <th>Серія</th>
        <th>Доза</th>
        <th>Дата</th>
    </tr>
    </thead>
    <tbody>
    {% for immunization in immunizations %}
    <tr>
        <td><a href="{{ immunization.patient.get_registry_url }}">
            {{ immunization.patient.lastname }} {{ immunization.patient.firstname }} {{ immunization.patient.patronymic }}
        </a></td>
        <td><a href="{{ immunization.series.vaccine.get_info_url }}">{{ immunization.series.vaccine }}</a></td>
        <td>{{ immunization.series }}</td>
        <td>{{ immunization.dose }}</td>
        <td>{{ immunization.date }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
