{% extends "base.html" %}

{% block title %}
    <title>Для лікарів - щеплення</title>
{% endblock %}


{% block content %}

<a href="{% url 'immunization_update' id=immunization.pk%}">
    <button class="btn btn-default btn-bg" name="immunization_update">Редагувати</button>
</a>
<a href="">
    <button class="btn btn-info btn-bg" name="immunization_qr_code">QR-код</button>
</a>
<a href="">
    <button class="btn btn-warning btn-bg" name="immunization_print">Друкувати</button>
</a>

<p></p>

<p>
    Пацієнт: 
    <a href="{{ immunization.patient.get_registry_url }}">
    {{ immunization.patient.lastname }} {{ immunization.patient.firstname }} {{ immunization.patient.patronymic }}
    </a>
</p>
<p>Вакцина: <a href="{{ immunization.series.vaccine.get_info_url }}">{{ immunization.series.vaccine }}</a></p>
<p>Серія: {{ immunization.series }}</p>
<p>Доза: {{ immunization.dose }}</p>
<p>Дата: {{ immunization.date }}</p>
<p>
    Лікар: 
    <a href="{{ immunization.doctor.get_registry_url }}">
    {{ immunization.doctor.lastname }} {{ immunization.doctor.firstname }} {{ immunization.doctor.patronymic }}
    </a>
</p>

{% endblock %}
