{% extends "base.html" %}

{% block title %}
    <title>Для лікарів - {{ patient.lastname }}</title>
{% endblock %}


{% block content %}
<div class="media">
  <div class="media-body">
    <h2 class="media-heading">{{ patient.lastname }} {{ patient.firstname }} {{ patient.patronymic }}</h2>
    <p>Дата народження: <b>{{ patient.birth }}</b></p>
    <p><span class="glyphicon glyphicon-earphone"></span> Телефон: <b>{{ patient.phone }}</b></p>
  </div>
</div>

<p></p>

<a href="{% url 'patient_update' id=patient.pk%}"><button class="btn btn-default btn-bg" name="patient_update">Редагувати</button></a>
<a href=""><button class="btn btn-info btn-bg" name="patient_update">QR-код</button></a>
<a href=""><button class="btn btn-warning btn-bg" name="patient_update">Друкувати</button></a>

<p></p>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Вакцина</th>
        <th>Серія</th>
        <th>Доза</th>
        <th>Дата</th>
        <th>Лікар</th>
    </tr>
    </thead>
    <tbody>
    {% for immunization in immunizations %}
    <tr>
        <td><a href="{{ immunization.series.vaccine.get_info_url }}">{{ immunization.series.vaccine }}</a></td>
        <td>{{ immunization.series }}</td>
        <td>{{ immunization.dose }}</td>
        <td>{{ immunization.date }}</td>
        <td><a href="{{ immunization.doctor.get_registry_url }}">
            {{ immunization.doctor.lastname }} {{ immunization.doctor.firstname }} {{ immunization.doctor.patronymic }}
        </a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
